<div class="row header">
    <div class="col-xs-12">
        <div class="user pull-right">
            <div class="item dropdown" uib-dropdown>
                <a href="#" class="dropdown-toggle" uib-dropdown-toggle style="padding-top: 20px">
                    {{currentUser.name}}
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li class="link">
                        <a href="#" ng-click="logout()">
                            Çıkış Yap
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="meta">
            <div class="page">
                Admin Paneli
            </div>
            <div class="breadcrumb-links">
                {{parent}} / {{path}}
            </div>
        </div>
    </div>
</div>