<!-- Sidebar -->
    <div id="sidebar-wrapper">
      <ul class="sidebar">
        <li class="sidebar-main">
          <a ng-click="toggleSidebar()">
            Yönetim Paneli
            <span class="menu-icon glyphicon glyphicon-transfer"></span>
          </a>
        </li>
        <li  class="sidebar-list">
          <a ui-sref="schedule">Ders Programı<span class="menu-icon fa fa-dashboard"></span></a>
          <a ui-sref="classrooms" ng-if="currentUser.accountType == 1">Sınıf Yönetimi<span class="menu-icon fa fa-stack-overflow"></span></a>
          <a ui-sref="constraints" ng-if="currentUser.accountType == 0">Kısıt Yönetimi<span class="menu-icon fa fa-users"></span></a>
          <a ui-sref="lessons" ng-if="currentUser.accountType == 1">Ders Yönetimi<span class="menu-icon fa fa-pied-piper"></span></a>
          <a ui-sref="choose-lesson" ng-if="currentUser.accountType == 0">Ders Seçimi<span class="menu-icon fa fa-level-up"></span></a>
          <a ui-sref="generate-schedule">Ders Programı Oluştur<span class="menu-icon fa fa-level-down"></span></a>
        </li>
      </ul>
    </div>
    <!-- End Sidebar -->
