<div class="row">
    <div class="col-lg-8">
        <h1>Verdiğiniz dersleri seçin</h1>

        <form ng-submit="saveLessonChoice(lessons)">

            <div class="form-group" ng-repeat="lesson in lessons">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="lesson.checked">{{lesson.lessonName}}
                    </label>
                </div>
            </div>

            <div class="form-group">
                <input type="submit" class="btn btn-warning" value="Kaydet">
            </div>
        </form>
    </div>
</div>